<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/css/bootstrap') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/components/nav') %>
    <div class="container">
        <div class="my-5">
            <h1>create new blog</h1>
            <form class="form" method="post" action="/blog/create">
                <div class="mb-3">
                    <label for="coverImage" class="form-label">cover image</label>
                    <input type="file" name="coverImage"/>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input name="title" type="text" class="form-control" id="title" aria-describedby="title">

                </div>

                 <div class="mb-3">
                    <label for="content" class="form-label">content</label>
                   <textarea  name="content" id="content" class="form-control"></textarea>

                </div>
                <button type="submit" class="btn btn-primary">create</button>
            </form>
            </div>
        </div>
        <%- include('./partials/js/bootstrap') %>
</body>

</html>