<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/css/bootstrap') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>signup</title>
</head>

<body>
    <%- include('./partials/components/nav') %>
        <div class="container mt-5">
            <h1 class="my-4">Create New Account </h1>
            <form method="post" action="/user/signup">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full Name</label>
                    <input name="FullName" type="text" class="form-control" id="fullnameInput" aria-describedby="fullnameHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <h3 class="my-2">OR</h3>
            <a href="/login">Login to existing Account</a>
        </div>
        <%- include('./partials/js/bootstrap') %>
</body>

</html>